[default]
region : eu-central-1
key_name : zmicier-aws
ami : ami-6d555119
instance_type : t1.micro
login_user : ec2_user
min_instances : 1
max_instances : 5
wsgi_processes : 3
wsgi_threads : 15
health_check_resource : static/health.html
time_difference : -1
monitoring_period_minutes : 3
s3_bucket_name : cloud-compute
aws_access_key_id : AKIAJLKUUWG5UZCRNTCQ
aws_secret_access_key : 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
bucket_name : cloud-compute
visibility_time : 1
